# IntelliJ
.idea/
*.iml
out/
build/

# Kotlin
*.class
*.kotlin_metadata

# Gradle
.gradle/
**/build/
!gradle-wrapper.jar
gradle-app.setting

# Paper / run-paper plugin output
run/
run/**

# Logs
*.log

# OS
.DS_Store
Thumbs.db